div{
    height: 100px;
    width: 100px;
    background-image: url("https://images.unsplash.com/photo-1618886487325-f665032b6352?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    color: white;
    position: fixed;
    right: 0 px;
    top: 50px;
}