/* div{
    background-color: green;
    height: 100px;
    width: 100px;
    border-radius: 50%;
} */

*{
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
}

#navbar{
    height: 60px;
    background-color: #0f1111;
}

button{
    background-color: #f08804;
}

#logo{
    color:#f08804;
    font-size: 25px;
}

a{
    margin-right: 200px;
}